<div class="container">
    <h1 class="mb-4 mt-1">Project Description: Epidemic Simulation</h1>
    <p class="m-3">Project Goal:</p>
    <span>
        The project aims to create an application that simulates and visualizes the progression of epidemics. 
        Users can model the spread of diseases such as COVID-19 or the flu by inputting parameters like 
        initial infection numbers, transmission rates, and mortality rates.
    </span>

    <p class="m-3">Features:</p>
    <ul>
        <li>
            Create and Manage Simulations: Define new epidemic scenarios and manage them.
        </li>
        <li>
            Track Epidemic Progress: Monitor how the number of infected, healthy, deceased, and recovered individuals changes over time.
        </li>
        <li>
            Data Visualization: Present simulation results through clear charts and tables.
        </li>
    </ul>

    <p class="m-3">Overview:</p>
    <span >
        The application helps users understand the dynamics of epidemics and their impact on populations through interactive models and visualizations.
        This project is intended for educational and exploratory purposes only and is not based on professional epidemiological expertise.
    </span>
</div>